{% extends 'base.html' %}

{% block title %}
<title>Creacion de</title>
{% endblock title %}

{% block bienvenida %}
<h1>Registro de usuario</h1>
<h2>
  
    <ul>
        <form action={% url 'crear_usuario' %}  method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <p><input type="submit" value="Ingresar"></p>    
        </form>                  
    </ul>
            
</h2> 
{% endblock bienvenida %}


{% block entre_header_footer %}

{% endblock entre_header_footer %}

